body, html{
	margin:0;
	padding:0;
	background:#335;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1vmax;
}
*{
	position: relative;
	box-sizing: border-box;
}

.hidden{
	display: none !important;
}

.centered, .center{
	text-align: center;
}

a{
	font-weight:bold;
	color:#DDF;
}

input, textarea, select{
	font-size:1vmax;
	border-radius:0.25vmax;
	padding:0.5vmax;
	outline:none;
	box-sizing: border-box;
	-moz-user-select: auto;
	user-select: auto;
	margin-bottom:1vmax;
}
input[type=text], input[type=number], textarea{
	width:100%;
}



#gameIcons > div > div.rollout.visible,
div.gameListing,
div.actionbar > div.actions > div.action,
input[type=button], input[type=submit], div.button, label.button,
div.inventory div.item,
#modal div.modalQuests div.right div.item,
div.action,
#modal div.netgame.player
{
	user-select: none;
	-moz-user-select: none;
	background:rgba(100,100,100,.75);
	color:#FFF;
	font-weight:bold;
	border-radius:0.5vmax;
	padding:0.5vmax;
	font-size:1.25vmax;
	cursor:pointer;
	text-align: center;
	margin:0.25vmax 0.1vmax;
	border: 2px solid #DDD;
	border-bottom-color: #BBB;
	border-right-color: #BBB;
}
input[type=button]:disabled{
	color:#CAA;
	border-color: #CAA;
}
div.gameListing:hover,
input[type=button]:hover, input[type=submit]:hover, div.button:hover,
div.inventory div.item:hover,
div.action:hover{
	border-color:#FFF;
}
div.gameListing:active,
input[type=button]:active, input[type=submit]:active, div.button:active,
div.inventory div.item:active,
div.action:active{
	transform:scale(0.98,0.98);
}



input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background:none;
}
input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1.26vmax;
	cursor: pointer;
	box-shadow: 1px 1px 0px #000000;
	background: #4f5f72;
	border-radius: 0.5vmax;
	border: 1px solid #596c81;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 1.26vmax;
	cursor: pointer;
	box-shadow: 1px 1px 0px #000000;
	background: #4f5f72;
	border-radius: 0.5vmax;
	border: 1px solid #596c81;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
	border: 2.4px solid #6497bd;
	height: 39px;
	width: 26px;
	border-radius: 2px;
	background: #596c81;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -13.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #596c81;
}




input.red{
	background-color:rgba(100,50,50,0.75);
}
input.green{
	background-color:rgba(50,100,50,0.75);
}
input.blue{
	background-color:rgba(50,75,100,0.75);
}
input.yellow{
	background-color:rgba(100,100,50,0.75);
}

*.green{
	color:#CCFFCC;
}
*.red{
	color:#FFCCCC;
}


textarea{
	min-height:3vmax;
}

div.centered, h1.centered, .centered{
	text-align: center;
}


/* Scroll */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.25); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



@keyframes fadeOut{
	from{opacity:1;}
	to{opacity:0;}
}

.fadeOut{
	animation: fadeOut 2s ease-in-out forwards !important;
}

#notices{
	position: fixed;
	left:50%;
	width:50%;
	top:3vh;
	transform:translateX(-50%);
}
#notices > div{
	background:#FAA;
	color:#600;
	border:0.2vmax solid #FFF;
	box-shadow:0.2vmax 0.2vmax 2vmax rgba(0,0,0,.75);
	border-radius:0.25vmax;
	font-size:2vmax;
	font-weight: bold;
	padding:1vmax 2vmax;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	text-align: center;
}
#notices > div.notice{
	background:#AFA;
	color:#060;
}



/* Templates */
*.bgMarble{
	background: url(./media/ui/marble.jpg) repeat;
}
div.scroll{
	overflow:auto;
}





#content{
	position: fixed;
	border-left:none;
	border-right:none;
	left:0; right:0;
	top:0; bottom:0;
}

/* UI Layer */
#ui{
	position: fixed;
	left:0; right:0;
	bottom:5.1vh; top:0;
	background:rgba(0,50,100,.5);
	transition: transform 0.1s ease-out;
}
#ui.hidden{
	display: block !important;
	transform: translateY(-110%);
}

#ui:not(.dev) .devtool{
	display:none !important;
}

#fx{
	position: fixed;
	left:0; right:0;
	top:0; bottom:0;
	pointer-events: none;
}


/* FX */
@keyframes takeDamage{
	0%{transform:translateX(-5%); filter:blur(3px) sepia(100%) hue-rotate(-40deg) saturate(400%);}
	10%{transform:translateX(5%);}
	20%{transform:translateX(-4%);}
	30%{transform:translateX(4%);}
	40%{transform:translateX(-3%);}
	50%{transform:translateX(3%); filter:none; }
	60%{transform:translateX(-2%);}
	70%{transform:translateX(2%);}
	80%{transform:translateX(-1%);}
	90%{transform:translateX(1%);}
	100%{transform:none; }
}
@keyframes takeDamageCorruption{
	0%{transform:translateX(-5%); filter:blur(3px) sepia(100%) hue-rotate(290deg) saturate(400%);}
	10%{transform:translateX(5%);}
	20%{transform:translateX(-4%);}
	30%{transform:translateX(4%);}
	40%{transform:translateX(-3%);}
	50%{transform:translateX(3%); filter:none; }
	60%{transform:translateX(-2%);}
	70%{transform:translateX(2%);}
	80%{transform:translateX(-1%);}
	90%{transform:translateX(1%);}
	100%{transform:none; }
}
@keyframes takeDamageElemental{
	0%{transform:translateX(-5%); filter:blur(3px) sepia(100%) hue-rotate(220deg) saturate(400%);}
	10%{transform:translateX(5%);}
	20%{transform:translateX(-4%);}
	30%{transform:translateX(4%);}
	40%{transform:translateX(-3%);}
	50%{transform:translateX(3%); filter:none; }
	60%{transform:translateX(-2%);}
	70%{transform:translateX(2%);}
	80%{transform:translateX(-1%);}
	90%{transform:translateX(1%);}
	100%{transform:none; }
}
@keyframes takeDamageHoly{
	0%{transform:translateX(-5%); filter:blur(3px) sepia(100%) hue-rotate(15deg) saturate(400%);}
	10%{transform:translateX(5%);}
	20%{transform:translateX(-4%);}
	30%{transform:translateX(4%);}
	40%{transform:translateX(-3%);}
	50%{transform:translateX(3%); filter:none; }
	60%{transform:translateX(-2%);}
	70%{transform:translateX(2%);}
	80%{transform:translateX(-1%);}
	90%{transform:translateX(1%);}
	100%{transform:none; }
}
@keyframes takeDamageStretchPC{
	0%{transform:none; filter:blur(3px) sepia(100%) hue-rotate(-40deg) saturate(400%);}
	50%{transform:translateX(20%);}
	60%{transform:translateX(25%); filter:none; }
	70%{transform:translateX(-2%);}
	75%{transform:translateX(2%);}
	80%{transform:translateX(-1%);}
	85%{transform:translateX(1%);}
	100%{transform:none; }
}
@keyframes takeDamageStretchNPC{
	0%{transform:none; filter:blur(3px) sepia(100%) hue-rotate(-40deg) saturate(400%);}
	50%{transform:translateX(-20%);}
	60%{transform:translateX(-25%); filter:none; }
	70%{transform:translateX(-2%);}
	75%{transform:translateX(2%);}
	80%{transform:translateX(-1%);}
	85%{transform:translateX(1%);}
	100%{transform:none; }
}
@keyframes takeDamageSqueeze{
	0%{transform:none; filter:blur(3px) sepia(100%) hue-rotate(-40deg) saturate(400%);}
	50%{transform:scale(0.9, 0.9);}
	60%{transform:scale(0.88, 0.88); filter:none; }
	70%{transform:scale(1.03);}
	80%{transform:scale(0.98);}
	90%{transform:scale(1.01);}
	100%{transform:none; }
}
@keyframes hitfxShake{
	0%{transform:none;}
	10%{transform:translateX(10%);}
	20%{transform:translateX(-10%);}
	30%{transform:translateX(5%);}
	40%{transform:translateX(-5%);}
	50%{transform:translateX(2.5%);}
	60%{transform:translateX(-2.5%);}
	70%{transform:translateX(1%);}
	80%{transform:translateX(-1%);}
	90%{transform:translateX(0.5%);}
	100%{transform:none;}
}
@keyframes buffBlue{
	0%{transform:none; filter:sepia(100%) hue-rotate(-180deg) saturate(400%);}
	60%{transform:scale(0.98, 0.98); filter:sepia(100%) hue-rotate(-180deg) saturate(400%);}
	70%{transform:scale(1.03);}
	80%{transform:scale(0.98);}
	90%{transform:scale(1.01);}
	100%{transform:none; }
}
@keyframes buffRed{
	0%{transform:none; filter:sepia(100%) hue-rotate(-40deg) saturate(400%);}
	60%{transform:scale(0.98, 0.98); filter:sepia(100%) hue-rotate(-40deg) saturate(400%);}
	70%{transform:scale(1.03);}
	80%{transform:scale(0.98);}
	90%{transform:scale(1.01);}
	100%{transform:none; }
}

@keyframes heal{
	0%{transform:scale(0.95); filter:sepia(100%) hue-rotate(40deg) saturate(200%);}
	30%{transform:scale(1.05);}
	75%{transform:scale(0.99);}
}
div.fxTakeDamage{
	animation: takeDamage 0.5s ease-in-out;
}
div.fxTakeDamageCorruption{
	animation: takeDamageCorruption 0.5s ease-in-out;
}
div.fxTakeDamageElemental{
	animation: takeDamageElemental 0.5s ease-in-out;
}
div.fxTakeDamageHoly{
	animation: takeDamageHoly 0.5s ease-in-out;
}
div.fxHeal{
	animation: heal 0.5s ease-in-out;
}
div.fxStretch{
	animation: takeDamageStretchPC 0.75s ease-in-out;
}
div.fxShake{
	animation: hitfxShake 0.75s ease-in-out;
}
div.right div.fxStretch{
	animation: takeDamageStretchNPC 0.75s ease-in-out;
}
div.fxSqueeze{
	animation: takeDamageSqueeze 0.5s ease-in-out;
}
div.fxBuffBlue{
	animation: buffBlue 0.5s ease-in-out;
}
div.fxBuffRed{
	animation: buffRed 0.5s ease-in-out;
}

/* Game quickjoin */
	#joinOnlineGame{
		padding:30%;
	}

/* Modal */
	#modal{
		position: fixed;
		left:0; right:0;
		top:0; bottom:0;
		background:rgba(0,0,0,.5);
		backdrop-filter:blur(2px);
		user-select: none;
		-moz-user-select: none;
	}
	#modal > div.wrapper{
		position: absolute;
		display:flex;
		left:10vw;
		right:10vw;
		top:10vh;
		bottom:10vh;
		background:rgba(50,50,50,.95);
		color:#FFF;
		border:2px solid #AAA;
		box-shadow:0.5vmax 0.5vmax 5vmax rgba(0,0,0,1);
		border-radius:1vmax;
	}
	#modal > div.wrapper > div.content{
		padding:3vmax;
		overflow:auto;
		width:100%;
		max-height:100%;
		padding-bottom:10vmax;
	}
	#modal > div.wrapper > input{
		position: absolute;
		bottom:0;
		left:50%;
		transform:translate(-50%, 70%);
	}
	#modal.canvas > div.wrapper > div.content{
		padding:0;
		overflow:hidden;
	}

	#modal.canvas div.CANVAS_HOLDER{
		position: absolute;
		left:0; right:0;
		bottom:0; top:0;
	}
	#modal.canvas div.CANVAS_HOLDER > canvas{
		position: absolute;
		top:0; left:0; right:0; bottom:0;
	}
/**/

/* Custom modals */
	#customModals{
		position:fixed;
		width:100%; height:100%;
		top:0; left:0;
		background:rgba(0,0,0,.25);
		backdrop-filter: blur(3px);
		user-select: none;
	}
	#customModals.noBG{
		backdrop-filter: none;
		pointer-events: none;
		background:none;
	}
	
	#customModals > div > div.header > h1,
	#customModals > div > div.header > div.close > h1
	{
		font-size:2vmax;
		margin:0;
	}
	#customModals > div > div.header,
	#customModals > div > div.header > div.close{
		border: 0.2vmax solid #DDD;
		position: absolute;
		left:50%;
		transform:translate(-50%,-100%);
		padding:1vmax;
		border-bottom:none;
		text-align: center;
		text-transform: capitalize;
		border-top-left-radius:0.5vmax;
		border-top-right-radius:0.5vmax;
		min-width:25%;
		background: url(./media/ui/marble.jpg) repeat;
	}

	#customModals > div > div.header > div.close{
		top:0;
		background:rgba(50,0,0,0.75);
		transform:translateX(101%);
		right:0;
		left:auto;
		min-width: 5vw;
		cursor:pointer;
		bottom:-0.2vmax;
		top:-0.2vmax;
	}
	#customModals > div > div.header > div.close:hover{
		background:rgba(100,0,0,.8);
	}

	#customModals > div{
		position: absolute;
		left:50%; top:50%;
		transform:translate(-50%, -50%);
		max-height:90%;
		overflow:visible;
	}
	#customModals div.cmContent,
	div.cmContentBlock{
		border: 0.2vmax solid #DDD;
		border-radius: 0.5vmax;
		padding: 1vmax;
		font-size: 2vmax;
	}

	

	#customModals div.cmTabs{
		position: absolute;
		padding-left:3vw;
	}
	#customModals div.cmTab{
		border: 0.2vmax solid #333;
		border-bottom-left-radius: 0.5vmax;
		border-bottom-right-radius: 0.5vmax;
		box-shadow: 0 0.5vmax 1vmax 0.1vmax #000;
		padding: 0.75vmax;
		font-size: 1.5vmax;
		border-top: none;
		color:#AAA;
		cursor:pointer;
		display: inline-block;
		vertical-align: top;
	}
	#customModals div.cmTab:hover, #customModals div.cmTab.active{
		border-color:#FFF;
	}
	#customModals div.cmTab.active{
		color:#FFF;
		font-weight: bold;
		padding:1vmax;
	}

	/* Sleep */
	#sleepSelect{
		text-align: center;
	}

	#sleepSelect img{
		width:5vmax; height:5vmax;
		vertical-align: middle;
	}
	#sleepSelect > span{
		text-align: center;
	}
	#sleepSelect > input[type=button]{
		font-size:2vmax;
	}



	/* Gym */
	#gym{
		max-width:90vw;
		min-width:60vw;
		position: absolute;
		max-height:80vh;
		pointer-events: all;
	}
	
	#gym > div.modalMain{
		overflow:auto;
		padding:2vmax;
	}

	#gym div.slots,
	#gym div.right,
	#gym div.left{
		padding: 0.5vmax;
		border: 1px #666 solid;
		background:rgba(0,0,0,.75);
		margin:0.25vmax;
		border-radius: 0.5vmax;
	}

	#gym div.slots{
		text-align: center;
	}

	#gym div.left,
	#gym div.right{
		width:50%;
	}

	#gym div.right{
		text-align:right;
	}
	#gym div.right > div.purchasable > div.learnable{
		background:rgba(0,0,0,.5);
		border-radius:0.5vmax;
		padding:0.5vmax;
		margin:0.5vmax;
		text-align: left;
		height: 5.5vh;
		vertical-align: middle;
		border: 1px solid #AAA;
	}
	#gym div.right > div.purchasable > div.learnable.disabled{
		background: rgba(100,0,0,.5);
		border-color: #A33;
	}
	#gym div.right > div.purchasable > div.learnable.disabled.empty{
		background:none;
		border:none;
		font-size:1.5vmax;
	}
	#gym div.right > div.purchasable > div.learnable:hover:not(.disabled){
		cursor: pointer;
		border-color: #FFF;
	}
	#gym div.right > div.purchasable > div.learnable > span{
		display:block;
		position: absolute;
		top:50%;
		transform:translateY(-50%);
	}
	#gym div.right > div.purchasable > div.learnable > div.action{
		position: absolute;
		right:0;
		top:0;
	}

	#gym div.action{
		background-size: cover;
		overflow: visible;
		display: inline-block;
		margin: 0 0.25vh 0 0.25vh;
		vertical-align: middle;
		width: 5.5vh;
    	height: 5.5vh;
	}
	#gym div.action > div:not(.tooltip){
		display:none;
	}

	#settings{
		min-width: 50%;
		min-height:25%;
	}

	#settings input[type=checkbox]{
		pointer-events: none;
	}

	




	/* PLAYER */
	#player div.cmTabContent > div.right{
		position: absolute;
		width:30vw;
		right:-1.2vmax;
		top:-1.2vmax;
		bottom:-1.2vmax;
		transform:translateX(100%);
		overflow:hidden;
	}

	#customModals > #player{
		width:50vw;
		transform:translate(-75%,-50%);
		max-height:70vh;
	}
	#customModals > #player div.cmTabContent[data-id=Character]{
		min-height:60vh;
		max-height:80vh;
	}
	#player div.cmTabContent h2.name{
		margin:0;
	}
	#player div.cmTabContent div.right > div.image{
		height: 100%;
		position: absolute;
		width: 100%;
		top: 0; left:0;
		background-size: cover;
		background-position: center;
	}
	#player div.cmTabContent div.right > div.inventory{
		padding: 0;
		position: absolute;
		right: 0;
		bottom:14%;
	}
	#player div.cmTabContent div.right > div.inventory > div.item{
		width:5vmax; height:5vmax;
		display:block;
		padding:0;
	}

	#player div.cmTabContent div.right > div.primaryStats,
	#player div.cmTabContent div.right > div.secondaryStats
	{
		left:0; right:0;
		font-size:2vmax;
		bottom:0;
		height:8%;
		position:absolute;
		text-align: center;
		flex-wrap:nowrap;
	}
	#player div.cmTabContent div.right > div.secondaryStats{
		font-size:1.5vmax;
		height:6%;
	}

	#player div.cmTabContent div.right div.tag{
		background:rgba(0,0,0,.5);
		margin:0.1vmax;
		border-radius:0.5vmax;
	}

	#player div.cmTabContent div.right div.tag span{
		
		position: absolute;
		width:100%;
		left:0;
		top:50%;
		transform:translateY(-50%);
		display:block;

	}
	#player div.cmTabContent div.right div.secondaryStats > div.tag{
		width:25%;
	}

	#player div.cmTabContent div.right > div.primaryStats{
		bottom:6%;
	}

	#player div.cmTabContent div.right > div.expBar{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	#player div.cmTabContent div.right > div.expBar > div.progressBar{
		border:none;
		border-radius:0;
	}

	#player div.cmTabContent[data-id=Edit]{
		font-size:1.25vmax;
	}
	#player div.cmTabContent[data-id=Edit] h2{
		margin-bottom:0;
	}

	#player div.cmTabContent > div.scroll{
		max-height:60vh;
		overflow-x: hidden;
		padding:1vmax;
	}

	#player div.actions div.action{
		display:inline-block;
		width:auto;
		height:auto;
		max-width:none;
	}

/**/

/* Black screen visual */
	#blackScreen{
		position: fixed;
		width:100%;
		height:100%;
		top:0; left:0;
		opacity:0;
		background:#000;
		pointer-events: none;
		transition:opacity 3s ease-in-out;
	}
	#blackScreen.anim{
		opacity:1;
	}

/**/


/* YOUR TURN*/
	#ui > div.yourTurnBadge{
		position: absolute;
		top:0;
		left:0; right:0;
		text-align: center;
		padding:0.25vmax;
		background:rgba(200,255,200,.75);
		color:#FFF;
		font-style: italic;
		text-transform: capitalize;
		font-size:2vmax;
		animation: yourTurnBadge 1s ease-in-out alternate infinite;
		text-shadow: 0.1vmax 0.1vmax 0.2vmax #000;
		pointer-events: none;
	}
	#ui > div.yourTurnBadge.rope{
		background:rgba(255,150,150,.75);
	}
	@keyframes yourTurnBorderRope{
		from{ 
			box-shadow: 0 0 1vmax #FAA inset;
		}
		to{
			box-shadow: 0 0 2vmax #FAA inset;
		}
	}
	#yourTurnBorder{
		position: fixed;
		left:0; right:0; bottom:0; top:0;
		box-shadow: 0 0 1vmax #EFE inset;
		pointer-events: none;
	}
	#yourTurnBorder.rope{
		animation: yourTurnBorderRope 0.5s ease-in-out alternate infinite;
	}

/**/

/* Progress bars */
	div.progressBar{
		border-radius:0.5vmax;
		border:1px solid #AAA;
		background:rgba(0,0,0,.75);
		color:#FFF;
		text-shadow: 0.1vmax 0.1vmax 0 #000;
		margin-bottom:0.5vmax;
		text-align: center;
		overflow: hidden;
		padding:0.5vmax;
	}
	div.progressBar div.bar{
		height:100%;
		position: absolute;
		top: 0; left: 0;
		background: linear-gradient(to bottom, #9dd254 0%,#68ba2a 50%,#44aa00 51%,#74cb2d 100%);
		box-shadow:0.25vmax 0 0.5vmax rgba(0,0,0,.5);
	}

	div.progressBar.red div.bar{
		background: linear-gradient(to bottom, #d25458 0%,#ba3b2a 50%,#aa1a00 51%,#cb3d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	div.progressBar.yellow div.bar{
		background: linear-gradient(to bottom, #d2ae54 0%,#baa72a 50%,#aa9900 51%,#cbb32d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	

/**/



/* Modal editor */
	#modal div.mainMenu{
		text-align: center;
	}
	#modal div.mainMenu > div{
		padding:1vmax;
	}

	#modal input.newGameButton{
		background-color: #335;
		font-size:2.5vmax;
		margin:2vmax;
		padding:1vmax;
		box-shadow: 0 0 3vmax rgba(200,210,255,1);
	}

	div.flexTwoColumns,
	div.flexThreeColumns,
	div.flexFourColumns,
	div.flexAuto{
		display:flex;
		width:100%;
		flex-direction: row;
		flex-wrap:wrap;
	}
	div.flexTwoColumns > div{
		flex:50%;
		padding:0.5vmax;
	}
	div.flexTwoColumns > div{
		padding:0;
	}
	div.flexThreeColumns{
		justify-content: left;
	}
	div.flexThreeColumns > div{
		width:33.33%;
	}
	div.flexFourColumns{
		justify-content: left;
	}
	div.flexFourColumns > div{
		width:25%;
	}
	#saveAsset div.quickStat{
		display:inline-block;
	}
	#saveAsset div.quickStat{
		background:rgba(0,0,0,.5);
		border-radius:0.2vmax;
		margin:0 0.2vmax 0.2vmax 0;
		padding:0.25vmax;
		box-shadow:0.25vmax 0.25vmax 1vmax rgba(0,0,0,.25);
		cursor:help;
	}
	#modal img.player_icon_preview,
	#modal img.inspect_icon
	{
		max-width:100%;
		max-height:100%;
		border-radius:0.5vmax;
	}
	#modal h3, #modal p, div.tooltip h3{
		margin:0.25vmax 0;
	}
	#modal div.action div.tooltip{
		width:150%;
	}

	div.inventory{
		padding:5% 5%;
	}
	div.inventory.characterSheet{
		padding:0;
		text-align: center;
	}
	
	div.inventory div.item.list,
	#modal div.actions div.action.list{
		display:inline-block;
		margin:0.2vmax;
		border:1px solid #EEE;
	}
	div.inventory div.item em.sub{
		font-size:0.75vmax;
	}
	div.inventory div.item{
		font-weight:normal;
		font-size:1vmax;
		border-width: 1px;
		display: inline-block;
		width:49%;
		padding: 1.5vmax;
		text-align: left;
		padding-left: 4vmax;
	}
	div.inventory div.item img.assetIcon{
		vertical-align: middle;
		width: 3vmax;
		height: 3vmax;
		position: absolute;
		left: 0.5vmax;
		top: 0.5vmax;
	}
	div.inventory > div.left{
		width:20%;
		flex:20%;
		margin-right:3vmax;
	}
	div.inventory > div.left > div.progressBar{
		width:93%;
	}
	div.inventory div.item.equipmentSlot{
		width:6.5vmax;
		height:6.5vmax;
		display:inline-block;
		padding:0;
	}
	div.inventory div.item.equipmentSlot img.bg{
		width:100%; height:100%;
	}
	div.inventory div.item.equipmentSlot img.bg.template{
		opacity: 0.25;
	}
	
	div.inventory div.item.broken{
		background-color:#655;
	}
	div.inventory div.item.custom{
		border:1px solid #FFD;
	}

	div.item.common, strong.common{ border-color: #DDD !important; color: #DDD !important; }
	div.item.uncommon, strong.uncommon{ border-color: #AFA !important; color: #AFA !important; }
	div.item.rare, strong.rare{ border-color: #ADF !important; color: #ADF !important; }
	div.item.epic, strong.epic{ border-color: #FAF !important; color: #FAF !important; }
	div.item.legendary, strong.legendary{ border-color: #FFA !important; color: #FFA !important; }
	div.item.actionReward, strong.actionReward{ border-color: #AFF !important; color: #AFF !important; }
	div.item.disabled{ border-color:#A00 !important; background:#FAA; }

	#selectionbox{
		position:fixed;
		background:rgba(0,0,0,.75);
		border:1px solid #FFF;
		border-radius:0.25vmax;
		overflow:visible;
		user-select: none;
		-moz-user-select: none;
	}
	#selectionbox > div.item{
		background:rgba(255,255,255,.25);
		padding:1vmax;
		border-radius:0.25vmax;
	}
	#selectionbox > div.item:hover{
		background:rgba(255,255,255,.75);
		cursor:pointer;
	}
	#selectionbox > div.item.form:hover{
		background:rgba(255,255,255,.25);
		cursor:default;
	}
	#selectionbox > div.item.form form{
		margin:0; padding:0;
	}
	#selectionbox > div.item.form form input{
		margin:0 0.2vmax;
	}

	/* Quest display */
	#quests div.modalMain{
		display:flex;
	}
	#quests div.modalMain > div.cmTabContent{
		display:flex; 
		justify-content:space-between;
		width:100%;
		height:100%;
		min-height:20vh;
		min-width:75vw;
	}
	#quests div.modalMain h1{
		margin:0 0 1vmax 0;
		font-size:2.5vmax;
	}
	#quests div.modalMain h3{
		font-size:2vmax;
		margin-bottom:0;
	}
	#quests div.modalMain p{
		font-size:1.5vmax;
	}
	
	#quests div.modalMain div.left{
		padding-right:1vmax; margin-right:1vmax;
		border-right:1px dotted #FFF;
		width:25%;
		display:flex;
		flex-flow: column;
		justify-content: center;
	}	

	#quests div.modalMain div.left div[data-id]{
		background:rgba(50,50,50,0.75);
		padding:1vmax;
		cursor:pointer;
		transition:transform 0.2s ease-out;
		font-size:1.25vmax;
		box-shadow: -0.25vmax 0.25vmax 0.25vmax #000;
	}
	#quests div.modalMain div.left div:hover{
		transform:scale(1.01,1);
		transition:none;
	}
	#quests div.modalMain div.left div:active{
		transform:scale(.99,.99);
		transition:none;
	}
	#quests div.modalMain div.left div.completed{
		background:rgba(100,200,100, 0.5);
	}

	#quests div.modalMain div.right{
		width:75%;
		padding:3vmax;
	}
	#quests div.modalMain div.right div.objective{
		font-weight:bold;
		margin:0 2vmax;
		padding:0.5vmax 1vmax;
		font-size:1.5vmax;
	}
	#quests div.modalMain div.right div.objective.completed{
		font-weight:normal;
		font-style: italic;
		color:#AAA;
	}


	#modal div.newGame{
		padding:0 10vw;
		text-align: center;
	}

	#modal div.newGame input.gameName{
		width:auto;
		display: inline-block;
		font-size:2vmax;
		text-align: center;
	}

	#modal div.newGame div.galleryEntry{
		width:10vmax; height:10vmax;
		background-size: cover;
		display:inline-block;
		margin:0.5vmax;
	}
	#modal div.newGame div.portrait{
		border: 0.2vmax solid #FFF;
		border-radius:0.5vmax;
		width:20vmax;
		height:25vmax;
		display:inline-block;
		margin-bottom:1vmax;
		background-size:cover;
		background-position: center;
	}
	
	#modal div.newGame div.tags input{
		width:auto;
		display:inline-block;
		width:6em;
	}


	#modal div.netgameLink{
		padding:1vmax;
		margin:1vmax 3vmax;
		background: rgba(0,0,0,.75);
		font-weight: bold;
		user-select: all;
		text-align:center;
	}

	

/**/


/* Shop */
	#modal div.shop.inventory div.item{
		width:auto;
		display:block;
	}
	#modal div.shop.inventory div.item div.cost{
		position: absolute;
		right:0.5vmax;
		top:50%;
		transform:translateY(-50%);
	}
/**/

/* REPAIR shop */
	#modal div.shop.repair{
		width:auto;
		display:block;
		margin:0 20%;
	}
/**/


/* Players */
	#ui > div.players{
		position: absolute;
		top:0; left:0; right:0; bottom:7vh;
		pointer-events: none;
	}

	#ui > div.players > div{
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 26vw;
		top:0;
		bottom:0;
		position: absolute;
		text-align: center;
	}

	#ui > div.players > div.left{
		left:0;
	}
	#ui > div.players > div.right{
		right:0;
	}
	#ui > div.players div.player{
		margin-left:0;
		pointer-events: all;
	}
	#ui > div.players div.player * {
		pointer-events: none;
	}
	#ui > div.players div.player div.stats{
		text-shadow:0.1vmax 0.1vmax 0.1vmax #000;
		vertical-align: bottom;
	}
	#ui > div.players div.player span.resource{
		display:inline-block;
		width:2.25vmax;
		padding-top:0.5vmax;
		text-align: center;
		margin: 0 0.25vmax;
		vertical-align: bottom;
		pointer-events: all;
	}
	#ui > div.players div.player div.stats span.name div.leader:not(.host){
		background:none;
		border:none;
	}
	#ui > div.players div.player div.stats span.name div.leader.host.active{
		background-color: #484;
	}
	#ui > div.players div.player img.leader{
		height:2vmax; width:2vmax;
		vertical-align: middle;
	}
	#ui > div.players div.player span.resource.large{
		width:2.75vmax;
		padding-top:0.5vmax;
		font-size:1vmax;
	}
	#ui > div.players div.player span.resource::after{
		background:url(media/wrapper_icons/glass-heart.svg) no-repeat center;
		background-size: 80% 80%;
		content : "";
		width:100%;
		height:100%;
		top:-60%;
		left:0;
		position: absolute;
		opacity: 0.75;
	}
	#ui > div.players div.player span.HP{
		color:#FDD;
	}
	#ui > div.players div.player span.resource.HP::after{
		filter:brightness(60%) sepia(1) saturate(400%) hue-rotate(-50deg);
		opacity:1;
	}
	#ui > div.players div.player span.MP{
		color:#DEF;
	}
	#ui > div.players div.player span.resource.MP::after{
		background-image:url(media/wrapper_icons/round-bottom-flask.svg);
		filter:brightness(70%) sepia(1) saturate(300%) hue-rotate(150deg);
	}
	#ui > div.players div.player span.AP{
		color:#DFD;
	}
	#ui > div.players div.player span.resource.AP::after{
		background-image:url(media/wrapper_icons/jump-across.svg);
		filter:brightness(70%) sepia(1) saturate(300%) hue-rotate(90deg);
	}

	#ui > div.players div.player span.arousal{
		color:#EAF;
	}
	#ui > div.players div.player span.resource.arousal::after{
		background-image:url(media/wrapper_icons/pierced-heart.svg);
		filter:brightness(70%) sepia(1) saturate(300%) hue-rotate(-90deg);
	}

	#ui > div.players div.player span.chest,
	#ui > div.players div.player span.legs
	{
		color:#EFE;
	}
	#ui > div.players div.player span.resource.chest::after,
	#ui > div.players div.player span.resource.legs::after
	{
		background-image:url(media/wrapper_icons/shirt.svg);
	}
	#ui > div.players div.player span.resource.legs::after{
		background-image:url(media/wrapper_icons/trousers.svg);
	}
	#ui > div.players div.player span.resource.broken{
		color:#D66;
	}
	#ui > div.players div.player span.resource.broken::after{
		filter:brightness(40%) sepia(1) saturate(300%) hue-rotate(-40deg);
	}

	#ui > div.players div.topRight{
		position: absolute;
		top:0; left:0;
		right:0;
		text-align: left;
	}

	@keyframes chargedAction{
		from{ background:rgba(0,0,0,.75); }
		to{ background:rgba(50,0,0,.75); }
	}
	#ui > div.players div.topRight > div.charging > div.chAction{
		animation: chargedAction ease-in-out 0.5s alternate infinite;
		border: 0.1vmax solid #FA6;
	}

	#ui > div.players div.topRight > div.charging > div.chAction,
	#ui > div.players div > div.wrapper{
		display:inline-block;
		padding:0.5vmax;
		background:rgba(0,0,0,.25);
		margin:0.2vmax;
		border-radius:0.2vmax;
		box-shadow:0.2vmax 0.2vmax 1vmax rgba(0,0,0,.25);
		
	}
	#ui > div.players div > div.wrapper > div.background{
		width:100%; height:100%;
		position: absolute;
		top:0; left:0;
	}
	#ui > div.players > div.left div.topRight{
		text-align: right;
	}
	#ui > div.players div > div.wrapper{
		width: 3vmax;
		height:3vmax;
		border:0.3vmax solid #DFD;
	}
	#ui > div.players div > div.wrapper > div.stacks,
	#ui > div.players div > div.wrapper > div.duration,
	#ui > div.players div.charging > div.chAction > div.duration
	{
		position: absolute;
		bottom:0; left:50%;
		transform:translate(-50%,75%);
		color:#FFF;
		font-size:1.25vmax;
		text-shadow:0.1vmax 0.1vmax 0.2vmax #000;
	}
	#ui > div.players div.charging > div.chAction > div.duration{
		font-size:1.15vmax;
		transform:translate(-50%,50%);
	}
	#ui > div.players div > div.wrapper > div.stacks{
		top:auto;
		left:auto;
		right:0;bottom:auto;
		top:50%;
		transform:translate(50%,-50%);
		font-size:1.25vmax;
		padding:0.2vmax;
		border-radius:0.2vmax;
		min-width: auto;
		font-style:italic;
	}

	#ui > div.players > div.right div > div.wrapper div.tooltip{
		right:0;
		left:auto;
		transform:translateX(50%);
	}
	#ui > div.players div > div.wrapper.detrimental{
		border-color:#FDD;
	}

	/* Texts */
	#ui > div.players div.player div.speechBubble{
		display:none;
	}
	#ui.bubbles > div.players div.player div.speechBubble{
		position: absolute;
		display: block;
		left:1vmax;
		transform:translate(-100%, -50%);
		border: 2px solid #000;
		background: #FFF;
		padding:1vmax;
		border-radius: 1vmax;
		color:#000;
		font-size:1.5vmax;
		top:50%;
		font-style: italic;
		box-shadow: 0.25vmax 0.25vmax 1vmax #000;
		pointer-events: all;
		cursor: default;
	}

	#ui.bubbles > div.players > div.left div.player div.speechBubble{
		left:auto;
		right: 1vmax;
		transform:translate(100%, -50%);
	}
	
	#ui.bubbles > div.players div.player div.speechBubble div.arrow{
		position: absolute;
		right:0;
		top:50%;
		transform: translate(50%, -50%) rotate(45deg);
		border: 2px solid #000;
		background: #FFF;
		width:1vmax;
		height: 1vmax;
		border-left:none;
		border-bottom: none;
	}

	#ui.bubbles > div.players div.player div.speechBubble div.arrow{
		max-width:30vmax;
	}

	#ui.bubbles > div.players > div.left div.player div.speechBubble div.arrow{
		right:auto;
		left:0;
		transform:translate(-50%,-50%) rotate(225deg);
	}

	#ui.bubbles > div.players > div.left div.player div.speechBubble.hidden{
		display: block !important;
		opacity:0;
		transition: opacity 1s ease-in-out;
	}
	#ui.bubbles > div.players > div.left div.player div.speechBubble.hidden.immediate{
		transition:none;
	}
	
/**/


/* multiCastPicker */
	#multiCastPicker{
		position: fixed;
		bottom:50%;
		left:50%;
		transform:translate(-50%,-50%);
		background:rgba(0,50,100,.95);
		color:#FFF;
		font-weight: bold;
		padding:2vmax;
		border-radius: 1vmax;
		box-shadow:0.15vmax 0.15vmax 2vmax rgba(255,255,255,1);
		border:0.2vmax solid #FFF;
		text-align: center;
		font-size:3vmax;
		cursor:default;
		user-select: none;
		-moz-user-select: none;
		pointer-events: none;
		opacity:1;
		transition: bottom 0.25s ease-out, opacity, 0.25s ease-out;
	}
	#multiCastPicker > input{
		font-size:3vmax;
		padding:1vmax;
		pointer-events: all;
	}
	#multiCastPicker.hidden > input{
		display:none;
	}

	#multiCastPicker.hidden{
		display:block !important;
		bottom:-50%;
		opacity: 0;
		pointer-events: none;
	}




/**/

/* ROLEPLAY */

	#roleplay{
		position: fixed;
		bottom:25%;
		left:50%;
		transform:translate(-50%,-50%);
		color:#FFF;
		font-size:2vmax;
		cursor:default;
		min-width:50%;
		max-width:70%;
	}

	#roleplay > div.left{
		width:20%;
		transform:translateX(-101%);
	}
	#roleplay > div.right{
		width:100%;
	}
	

	#roleplay div.bg{
		box-shadow:0.5vmax 0.5vmax 1vmax rgba(0,0,0,1);
		border:0.1vmax solid #FFF;
		text-align: left;
		border-radius: 0.25vmax;
		background:rgba(0,50,100,.95);
		padding:1vmax;
		margin:0.25vmax;
		user-select: none;
		-moz-user-select: none;
	}

	#roleplay div.portrait.bg{
		position: absolute;
		left:0;
		width:10vmax; height:10vmax;
		padding:0;
		background-size:cover;
	}
	#roleplay div.text{
		font-weight: normal;
	}
	#roleplay div.text span.name{
		font-style: italic;
		font-weight: bold;
		font-size:1.5vmax;
	}
	
	#roleplay div.responses > div.option{
		width:90%;
		font-size:1.5vmax;
		font-style: italic;
		background: rgba(100,100,100,.9);
		cursor:pointer;
	}
	#roleplay div.responses > div.option.selected, #roleplay div.responses > div.option.selected:hover{
		border-color:#FFF;
		background: rgba(100,150,255,.9);
	}
	#roleplay div.responses > div.option:hover{
		background: rgba(50,100,150,.9);
	}
/*/


/* Game Icons (bottom bar) */

	#gameIcons,
	#ui > div.actionbar{
		position: fixed;
		left:0; right:0;
		height:5vh;
		background:rgba(0,0,0,.85);
		bottom:0;
		padding:0.25vh;
		text-align: center;
		border-top:0.2vh groove rgba(255,255,255,.5);
	}
	#gameIcons > div,
	#ui > div.actionbar > div.actions > div{
		width:4.25vh;
		height:4.25vh;
		background-size: cover;
		overflow:visible;
		display:inline-block;
		margin:0 0.25vh 0 0.25vh;
		vertical-align: middle;
	}
	#gameIcons > div.highlighted,
	#mainMenuToggle > div.highlighted{
		border-color: #ADF;
		background-color:#9AD;
	}
	#gameIcons > div.autoWidth{
		width:auto;
	}

	#gameIcons > div > div.rollout{
		display:none;
	}
	#gameIcons > div > div.rollout.visible{
		position: absolute;
		top:-0.5vh; left:50%;
		transform:translate(-50%, -100%);
		display:block;
	}
	#gameIcons > div > div.rollout.audioSettings{
		min-width:20vw;
	}
	#gameIcons div[data-id=audioToggle]{
		transform:none !important;
	}

	

/**/


/* Text */
	#ui > div.middle{
		bottom:7vh;
		background:rgba(0,0,0,.5);
		left:26vw;
		right:26vw;
		position:absolute;
		top:0;
		display:flex;
		flex-direction: column;
	}
	#ui > div.middle > div.content{
		position: absolute;
		bottom:3vmax;
		overflow:auto;
		max-height:100%;
		left:0;
		right:0;
	}
	#ui.mute > div.middle > div.chat{
		pointer-events: none;
		background:rgba(100,0,0,.25);
	}
	#ui.mute > div.middle > div.chat::after{
		content:'Spectators muted.';
	}
	#ui > div.middle > div.chat{
		min-height:1.5vmax;
		background:rgba(0,0,0,.25);
		padding:0.5vmax;
		font-size:1.5vmax;
		border-top:1px dotted #FFF;
		outline:none;
		position:absolute;
		bottom:0;
		width:100%;
	}
	#ui > div.middle > div.content > div.line{
		font-size:1.25vmax;
		padding:0.25vmax;
		color:#DDD;
	}
	#ui > div.middle > div.content > div.line.sided > div.sub{
		display:inline-block;
		max-width:90%;
		text-align: left;
	}
	#ui > div.middle > div.content > div.line.center{
		text-align: center;
		background: #000;
	}
	#ui > div.middle > div.content > div.line.turnChange{
		margin:1vmax 0;
		padding:0;
	}
	#ui > div.middle > div.content > div.line.turnChange > div.sub{
		background:#000;
		font-style: italic;
		font-size:1vmax;
		padding:0.5vmax 1vmax;
	}
	#ui > div.middle > div.content > div.line.dmInternal{
		text-align: center;
		font-size:1vmax;
		background:rgba(200,200,0,0.1);
	}
	#ui > div.middle > div.content > div.line.enemy{
		text-align: right;
	}
	#ui > div.middle > div.content > div.line.abilityUse{
		font-size:1vmax;
		color:rgba(255,255,255,.5);
	}
	#ui > div.middle > div.content > div.line.playerChat{
		font-size:1vmax;
		
	}
	#ui > div.middle > div.content > div.line.playerChat > div.sub{
		background:rgba(255,255,255,.25);
		padding:0.5vmax;
		border-radius:0.5vmax;
		margin:0.5vmax;
		width:auto;
		box-shadow: 0.2vmax 0.2vmax 0.2vmax #000;
	}
	#ui > div.middle > div.content > div.line.dmChat{
		color: #DEF;
		font-weight: bold;
		text-align: center;
		font-style:normal;
		font-size:1.25vmax;
	}
	#ui > div.middle > div.content > div.line.actionLearned{
		font-size:1vmax;
		color:#DDF;
		font-weight: bold;
	}

	#ui > div.middle > div.content > div.line.levelup{
		text-align: center;
		color:#FFA;
		box-shadow:0 0 1vmax #FFA;
		margin:1vmax 0;
		background: linear-gradient(to bottom, #b9b271 0%,#77703d 100%);
		font-weight: bold;
		text-shadow:0.2vmax 0.2vmax 0.5vmax #660;
	}
	#ui > div.middle > div.content > div.line.battleStarted{
		background:rgba(255,255,255,.5);
		box-shadow:0.2vmax 0.2vmax 1vmax #000;
		color:#FFF;
		margin-top:3vmax;
		margin-bottom:2vmax;
		font-size:2vmax;
	}
	#ui > div.middle > div.content > div.line.statMessage{
		font-size:0.9vmax;
		padding:0.1vmax 0.5vmax;
		font-style: italic;
	}
	#ui > div.middle > div.content > div.line.statMessage.MP{
		color:#BCD;
	}
	#ui > div.middle > div.content > div.line.statMessage.arousal{
		color:#DBD;
	}
	#ui > div.middle > div.content > div.line.statMessage.crit{
		font-weight:bold;
	}
	#ui > div.middle > div.content > div.line.statMessage.important{
		color:#FA6;
		font-weight: bold;
	}
	#ui > div.middle > div.content > div.line.statMessage.clothDamage{
		color:#A99;
	}
	#ui > div.middle > div.content > div.line.statMessage.clothMend{
		color:#8A8;
	}
	#ui > div.middle > div.content > div.line.statMessage.AP{
		color:#BDD;
	}
	#ui > div.middle > div.content > div.line.statMessage.damage{
		color:#DBB;
	}
	#ui > div.middle > div.content > div.line.statMessage.healing{
		color:#BDB;
	}




	#ui > div.middle > div.content > div.line.ooc{
		font-size:1vmax;
		color:#AAA;
		font-weight: normal;
	}

	#ui > div.middle > div.content > div.line.emote{
		font-style: italic;
	}

/**/

/* Mini chat */
	#mapChat{
		position: absolute;
		top:0; right:0;
		width: 30%;
		height:100%;
		pointer-events: none;
		overflow:hidden;
	}
	#mapChat > div.line{
		font-size:1.5vmax;
		transition:opacity 2s ease-in;
		padding:0.25vmax 1vmax;
		background:rgba(0,0,0,.25);
		margin-bottom:1px;
	}
	#mapChat > div.line.fade{
		opacity:0;
	}

/**/



/* Portraits based on player size */
	#ui > div.players div.p2 div.player{
	}
	#ui > div.players div.p3 div.player{
	}
	#ui > div.players div.p4 div.player{
	}
	#ui > div.players div.p5 div.player{
	}
	#ui > div.players div.p6 div.player,
	#ui > div.players div.p7 div.player,
	#ui > div.players div.p8 div.player,
	#ui > div.players div.p9 div.player,
	#ui > div.players div.p10 div.player
	{
	}




	#ui > div.players div.player{
		width:25.5vw;
		margin-bottom:0;
		margin-top:0.25vmax;
		user-select: none;
		-moz-user-select: none;
		cursor:pointer;
		flex-grow: 1;
		max-height:40vh;
	}
	@keyframes kfTargetSelector{
		from{box-shadow:0 0 1vmax #FFA;}
		to{box-shadow:0 0 2vmax #FFA;}
	}
	#ui > div.players div.player.castTarget > div.targetingStats,
	#ui > div.players div.player.targetSelected > div.targetingStats
	{
		display:block;
	}
	div.players div.player > div.targetingStats{
		position:absolute;
		top:50%;
		left:0; right:0;
		text-align:center;
		font-size:2vmax;
		transform:translateY(-50%);
		background:rgba(0,0,0,.25);
		padding:0.5vmax;
		display:none;
	}
	div.players div.player > div.content{
		overflow:hidden;
		border-radius:0.5vmax;
		box-shadow:0.5vmax 0.5vmax 1vmax rgba(0,0,0,.25);
		background:#222;
		border:0.2vmax solid #666;
		height:100%;
	}
	div.players div.player span.name{
		font-size:1.5vmax;
		margin-bottom:1vmax;
		display: inline-block;
	}

	div.players div.player span.name span.nameTag.mine,
	div.players div.player span.name.active span.nameTag.mine{
		font-weight: bold;		
	}
	div.players div.player span.name span.nameTag.npc{
		font-style: italic;
	}
	div.players div.player span.name span.turnArrow{
		display:none;
	}
	div.players div.player span.name.active span.turnArrow{
		display:inline;
	}
	div.players div.left div.player span.name > span{
		margin-left:0.5vmax;
	}
	div.players div.right div.player span.name > span{
		margin-right:0.5vmax;
	}
	

	#ui > div.players div.player span.name > div.button{
		width:2vmax; height:2vmax;
		padding:0;
		display:inline-block;
		vertical-align: middle;
		margin:0 0.2vmax;
		pointer-events: all;
	}
	#ui > div.players div.player span.name > div.button.selected{
		border-color:#AFA;
		background-color: #363;
	}

	div.players div.player.incapacitated > div.content{
		border-color:#FFD;
	}
	#ui div.player.dead > div.content{
		border-color:#C66;
		opacity:0.75;
	}

	#ui > div.players div.player.active > div.content{
		border-color:#DFD;
		box-shadow:0 0 1vmax rgba(200,255,200, 0.8);
	}

	#ui > div.players div.player.castTarget > div.content{
		border-color:#FAF;
		box-shadow:0 0 1vmax #FDF;
		cursor:pointer;
		transition:transform 0.1s ease-out;
	}
	#ui > div.players div.player.castTarget.highlighted > div.content{
		box-shadow:0 0 1vmax #FDF, 0 0 0 0.5vmax #FFA;
		transform:scale(1.015,1.015);
	}
	#ui > div.players div.player.targetSelected{
		transform:translateX(10%);
		transition:transform 0.25s ease-out;
	}
	#ui > div.players div.right div.player.targetSelected{
		transform:translateX(-10%);
	}
	#ui > div.players div.player.targetSelected > div.content{
		border-color:#FFA;
		cursor:pointer;
		animation: kfTargetSelector 1s ease-in-out alternate infinite;
	}


	#ui div.player > div.actionDrawer{
		position: absolute;
		right:0; top:0.5vmax;
		transform:translateX(100%);
	}
	#ui div.right div.player > div.actionDrawer{
		left:0;
		right:auto;
		transform:translateX(-100%);
	}
	#ui div.right div.player > div.actionDrawer > div{
		border-radius: 0;
		border-top-left-radius: 0.5vmax;
		border-bottom-left-radius: 0.5vmax;
		text-align: left;
	}
	#ui div.player > div.actionDrawer > div{
		background:rgba(150,200,150,.95);
		box-shadow:0.1vmax 0.1vmax 1vmax #000;
		color:#363;
		margin-top:0.2vmax;
		padding:0.5vmax;
		font-size:1.5vmax;
		text-align: right;
		border-top-right-radius: 0.5vmax;
		border-bottom-right-radius: 0.5vmax;
		border:0.2vmax solid #DFD;
		user-select: none;
		-moz-user-select: none;
		cursor: pointer;
		border-left: none;
		border-right:none;
	}
	#ui div.player > div.actionDrawer > div:hover{
		border-color:#FFF;
		background:rgba(220,255,220,.75);
	}

	#ui > div.players div.player > div.content > div.bg{
		position: absolute;
		width:100%; height:100%;
		top:0; left:0;
		background-size:cover;
		background-position: center;
		overflow:hidden;
	}
	

	#ui > div.players > div.right > div.player > div.content > div.stats{
		text-align: left;
	}
	#ui > div.players div.player > div.content > div.stats{
		position:absolute;
		right:0;
		bottom:0;
		padding:0.5vmax;
		background:rgba(0,0,0,.5);
		text-align: right;
		border-top-left-radius: 1vmax;
		backdrop-filter: blur(2px);
	}
	#ui > div.players div.right div.player > div.content > div.stats{
		left:0; right:auto;
		border-radius:0;
		border-top-right-radius: 1vmax;
	}

	/* DM Tools */
	div.dm_tools > label.option{
		display:block;
		width:auto;
	}
	div.dm_tools > label.option > *{
		vertical-align: middle;
		margin:0; padding:0;
	}
	div.dm_tools > .option.active{
		background:rgba(255,200,200,0.9);
	}
	div.dm_tools > .option.inactive{
		background:rgba(200,255,200,.9);
	}
	div.dm_tools{
		padding:0 25%;
	}

	/* Interactions */
	#ui > div.players div.player > div.interactions {
		position:absolute;
		top:1vmax; right:0;
		transform:translateX(100%);
	
	}
	#ui > div.players > div.right > div.player > div.interactions {
		right:auto;
		left:0;
		transform:translateX(-100%);
	}
	#ui > div.players div.player > div.interactions > div {
		width:4vmax;
		height:4vmax;
		background:rgba(0,0,0,.85);
		overflow:hidden;
		border-radius:0.25vmax;
		border: 2px solid #999;
		cursor:pointer;
		pointer-events:all;
		padding:0.25vmax;
	}
	#ui > div.players div.player > div.interactions > div:hover{
		border-color:#FFF;
	}
	#ui > div.players > div.left div.player > div.interactions > div{
		border-left:none;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
	 
	}
	#ui > div.players > div.right div.player > div.interactions > div{
		border-right:none;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	 
	}
	
	#ui > div.players div.player > div.interactions > img {
		width:100%;
		pointer-events:none;
	}
	


/* Action bar */
	#ui > div.actionbar{
		position: absolute;
		border:none;
		background:none;
		background: url(./media/ui/marble.jpg) repeat;
		border-top:1vh groove rgba(255,255,255,.25);
		height:7vh;
	}

	/* Stats */
	#ui > div.actionbar > div.resources{
		display:flex;
		position: absolute;
		top:0;
		transform:translateY(-100%);
		width:100%;
		background:rgba(0,0,0,.25);
		left:0;
	}
	#ui > div.actionbar > div.resources > div.stat{
		border:none;
		background:none;
		box-shadow:none;
		flex:50%;
		width:50%;
		display:flex;
		flex-direction:row;
		margin:0 0.5vh;
	}
	#ui > div.actionbar > div.resources > div.stat.mp > div.point{
		background:rgba(200,230,255,0.25);
	}
	#ui > div.actionbar > div.resources > div.stat.mp > div.point.filled{
		background:rgba(200,230,255,.75);
	}
	#ui > div.actionbar > div.resources > div.stat.mp > div.point.highlighted{
		box-shadow:0 0 1vh rgb(200,230,255);
		border:1px solid rgb(200,230,255);
		background:rgb(220,240,255);
	}
	#ui > div.actionbar > div.resources > div.stat.ap > div.point{
		background:rgba(200,255,200,0.25);
	}
	#ui > div.actionbar > div.resources > div.stat.ap > div.point.filled{
		background:rgba(200,255,200,.75);
	}
	#ui > div.actionbar > div.resources > div.stat.ap > div.point.highlighted{
		box-shadow:0 0 1vh rgb(200,255,200);
		border:1px solid rgb(200,255,200);
		background:rgb(220,255,220);
	}
	#ui > div.actionbar > div.resources > div.stat > div.point.highlighted:not(.filled){
		background:rgba(255,100,100,0.5);
		box-shadow:0 0 1vh rgb(255,200,200);
		border:1px solid rgb(255,200,200);
	}
	
	#ui > div.actionbar > div.resources > div.stat > div{
		height:1vh;
		flex-grow:1;
		border:1px solid rgba(0,0,0,0);
		border-radius:0.25vmax;
		transition:all ease-out 0.25s;
		margin:0.1vh;
	}
	#ui > div.actionbar > div.resources > div.stat > div.highlighted{
		transition:none;
		transition:all ease-out 0.05s;
	}


	#ui > div.actionbar > div.actions{
		position: absolute;
		display: flex;
		justify-content: center;
		left:0; right:0; bottom:0; top:0.25vh;
		text-align: center;
		-moz-user-select: none;
		user-select: none;
	}

	div.action,
	#ui > div.actionbar > div.actions > div.action{
		display:block;
		max-width:5.5vh;
		width:5%;
		height:5.5vh;
		border-color:#CFE;
		border-width: 0.2vh;
		padding:0.5vh;
		font-size:1.5vh;
	}
	#ui > div.actionbar > div.actions > div.action[data-id=end-turn]{
		width:auto;
		padding-top:1.75vh;
		background-color:#474;
		max-width:8vh;
	}
	#ui > div.actionbar > div.actions > div.action[data-id=end-turn]{
		color:#DFD;
		border-color: #DFD;
	}
	@keyframes endTurnPulse{
		from{transform: scale(1.05,1.05);}
		to{transform: scale(1.1,1.1);}
	}
	#ui > div.actionbar > div.actions > div.action[data-id=end-turn].highlighted{
		color:#DFD;
		border-color:#DFD;
		animation: endTurnPulse 1s ease-in-out alternate infinite;
		box-shadow: 0 0 1vmax #AFA;
	}

	div.action > *,
	#ui > div.actionbar > div.actions > div.action *{
		pointer-events: none;
	}
	#ui > div.actionbar > div.actions > div.action.spellSelected{
		transform: translateY(-15%) scale(1.2,1.2);
	}
	div.action > img,
	#ui > div.actionbar > div.actions > div.action > img{
		width:100%;
		height:100%;
		position: absolute;
		left:0; top:0;
	}
	div.action > div.uses,
	#ui > div.actionbar > div.actions > div.action > div.uses,
	#ui > div.actionbar > div.actions > div > div.cd{
		position: absolute;
		right:0; bottom:0;
		padding:0.2vmax;
		background:rgba(0,0,0,.5);
		border-radius:0.2vmax;
		font-size:1.25vmax;
	}
	div.action > div.cd,
	#ui > div.actionbar > div.actions > div > div.cd{
		padding:0.5vmax;
		right:auto; bottom:auto;
		top:50%; left:50%;
		font-size:1.5vmax;
		font-weight:bold;
		transform:translate(-50%,-50%);
		color:#FFF;
		background:rgba(0,0,0,.75);
		border-radius: 0.5vmax;
		box-shadow:0.25vmax 0.25vmax 1vmax rgba(0,0,0,.5);
		border:0.2vmax solid rgba(255,255,255,.5);
	}
	#ui > div.actionbar > div.actions > div.action > div.hotkey{
		position:absolute;
		display:block;
		top:0; left:0.1vmax;
		font-weight: normal;
		text-shadow:0.1vmax 0.1vmax 0.2vmax #000;
		display:none;	/* Todo: Action hotkeys */
	}
	#ui > div.actionbar > div.actions > div.action.enabled:hover{
		border-color:#FFF !important;
	}
	#ui > div.actionbar > div.actions > div.action.empty > *,
	div.action.empty > div.cd
	{
		display: none;
	}
	#ui > div.actionbar > div.actions > div.action.empty,
	div.action.empty
	{
		background:#333;
		border-color:#666;
		cursor:default;
	}
	div.action.empty > img{
		display:none;
	}
	
	#ui > div.actionbar > div.actions > div[data-id=cancel]{
		flex:100%;
	}
	/*
	#ui > div.actionbar > div.actions > div.enabled{
		color:#DFD;
		border:0.2vmax solid #DFD;
	}
	*/
	div.action.detrimental,
	#ui > div.actionbar > div.actions > div.action.detrimental{
		border-color:#FDC;
	}
	div.action.disabled,
	#ui > div.actionbar > div.actions > div.action.disabled,
	div.item.disabled,
	div.inventory div.item.disabled{
		color:#FDD !important;
		border:0.2vmax solid #FDD !important;
		background:rgba(100,0,0,0.75);
	}
	
	#ui > div.actionbar > div.actions > div div.tooltip{
		width:250%;
	}
	


/* */


/* DEVTOOLS */
	table.editor{
		width:100%;
		box-sizing: border-box;
		border-collapse: collapse;
	}
	table.editor.textEditor td:first-child{
		width:40%;
		font-size:1.25em;
	}
	table.editor.listing{
		font-size:0.8em;
	}
	table.editor.listing td{
		padding:0.2vmax;
	}

	table.editor tr{
		background:rgba(0,0,0,.5);
	}
	table.editor.clickable tr:hover{
		background:rgba(255,255,255,.5);
		cursor:pointer;
	}
	table.editor tr:nth-child(odd){
		background:rgba(0,0,0, 0.75);
	}
	table.editor tr:first-child, table.editor.clickable tr:first-child:hover{
		background:rgba(0,0,0);
		cursor: auto;;
	}

	table.editor td, table.editor th{
		padding:0.5vmax;
	}

	#modal div.roomWrap > div,
	#modal div.editorWrap > div
	{
		flex: unset;
	}
	#modal div.dungeonMap{
		width:50vw;
		height:50vw;
		background:rgba(0,0,0,.25);
		
	}
	#modal div.dungeonMap > div.room{
		background:rgba(255,255,255,.5);
		border-radius:0.5vmax;
		border:0.5vmax solid rgba(0,0,0,0.5);
		position:absolute;
		transform:translate(-50%,-50%);
		font-size:1vmax;
	}
	#modal div.dungeonMap > div.room:hover{
		background:rgba(200,255,200,.75);
		cursor:pointer;
	}
	#modal div.dungeonMap > div.room.selected{
		border-color:#AFA;
		cursor:pointer;
	}

	#modal div.dungeonMap > div.room > input.addRoom{
		font-size:0.75vmax;
		position:absolute;
		padding:0 0.25vmax;
		margin:0;

	}


	div.modButtons div.button{
		display:inline-block;
	}

	#modGenericInfo input{
		width:auto;
		display:inline-block;
	}

	#assetForm input{
		width:auto;
	}

	#assetForm input.equipped{
		border-color:#AFA;
	}

	table.editor tr.search{
		background:rgba(255,200,155,.25);
		font-style: italic;
	}
	table.editor tr.search:hover{
		cursor: auto;
		background:rgba(255,200,155,.25);

	}

	div.condWrapper{
		display:inline-block;
		background:rgba(0,0,0,.5);
		border: 1px solid #FFF;
		padding:0.5vmax;
		min-width:8vmax;
		min-height:3vmax;
		padding:1.5vmax 0.5vmax 0.25vmax 0.5vmax;
		margin:0.25vmax;
	}

	div.condWrapper > div.condPanel{
		position: absolute;
		top:0; left:0;
	}
	div.condWrapper.fullWidth{
		display:block;
	}
	div.condWrapper > div.condPanel > span{
		cursor:pointer;
		background:rgba(255,255,255,.25);
		border:1px solid #FFF;
		padding:0 0.25vmax 0.25vmax 0.25vmax;
	}
	div.condWrapper > div.condPanel > span.hlt{
		border-color:#AFA;
	}

	#jsonEditor{
		position: fixed;
		top:0; left:0; right:0; bottom:0;
		width:100%; height:100%;
		background:rgba(255,255,255,.25);
	}
	#jsonEditor > div{
		position:fixed;
		width:40vmax;
		height:40vmax;
		padding:0.5vmax;
		padding-bottom:3vmax;
		text-align: center;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}

	#jsonEditor > div > textarea{
		width:100%; height:100%;
	}
	#jsonEditor > div > div.buttons{
		position: absolute;
		bottom:0; width:100%;
	}

	#modal div.dungeonMap  input.disabled{
		background:#FAA;
	}

/* */


/* Tooltip */
	#tooltip{
		position:absolute;
		background:rgba(0,0,0,.9);
		color:#FFF;
		padding:1vmax;
		max-width:30vw;
		min-width:15vw;
		min-width:25vw;
		font-size:1vmax;
		pointer-events: none;
		border-radius:0.5vmax;
		border:1px solid #FFF;
		text-align: left;
		font-weight:normal;
		z-index:1000;
	}

	div.tooltip{display:none;}

	div.tooltipParent{
		pointer-events: all !important;
	}

	/* Action tooltip */
	#tooltip > div.actionTooltip{
		z-index:1000;
		color:#CCC;
		font-size:1.25vmax;
	}
	#tooltip > div.actionTooltip > h3{
		margin:0;
		font-size:1.5vmax;
		color:#FFF;
	}
	#tooltip > div.actionTooltip.enabled > h3{
		color:#DFD;
	}
	#tooltip > div.actionTooltip.disabled > h3{
		color:#FDD;
	}
	#tooltip div.stats{
		display:flex;
		width:100%;
		flex-direction: row;
		flex-wrap:wrap;
		font-style:italic;
		font-size:1vmax;
	}
	#tooltip div.stats > span:nth-child(even){
		text-align:right;
	}
	#tooltip div.stats > span{
		display:block;
		flex:50%;
	}

/**/


/* Loading screen */
	#loading_screen{
		top:0;
		width:100%;
		height:100%;
		position: absolute;
		background:#000;
	}
	@keyframes loadingBarBorder{
		from{border-color:#FFF;}
		to{border-color:#54bdd2;}
	}
	#loading_screen > div.loadingBar{
		width:50%;
		height:0.5vmax;
		position: absolute;
		overflow: hidden;
		left:50%; top:5%;
		transform:translate(-50%, -50%);
		border-radius: 0.25vmax;
		background:#359;
		animation: loadingBarBorder 1s alternate infinite ease-in-out;
		pointer-events: none;
	}
	#loading_screen > div.loadingBar > div.slider{
		height:100%;
		position: absolute;
		left:0;
		width:0;
		transition: width 0.5s ease-in-out;
		background: linear-gradient(to bottom, #54bdd2 0%,#2a8cba 50%,#006eaa 51%,#2d9ccb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	#loading_screen > p{
		position: absolute;
		font-size:1vmax;
		left:50%; top:7%;
		transform:translate(-50%,-50%);
		margin:0; padding:0;
		vertical-align: middle;
	}
	
/**/

/* Quest accept */

	@keyframes questAccept{
		from{box-shadow:0 0 3vmax #ADF;}
		to{box-shadow:0 0 6vmax #ADF;}
	}
	#questAccept{
		position: fixed;
		top:25%;
		left:50%;
		transform:translate(-50%,-50%);
		text-align: center;
		background:#335;
		box-shadow:0 0 3vmax #ADF;
		padding:3vmax;
		border: 0.2vmax solid #FFF;
		border-radius:1vmax;
		animation: questAccept 1s ease-in-out alternate infinite;
		transition: all 0.25s cubic-bezier(.55,1.53,.56,.62);
		cursor:default;
		
	}
	#questAccept h3{
		margin:0;
	}
	#questAccept h1{
		margin:0;
		font-size:6vmax;
	}

	#questAccept.hidden{
		animation:none;
		display: block !important;
		pointer-events: none;
		opacity: 0;
	}
/**/

/* Floating combat text */
	#fct{
		position: fixed;
		left:0; right:0;
		bottom:0; top:0;
		pointer-events: none;
	}
	@keyframes fct{
		0%{transform:scale(0.9);}
		5%{transform:scale(1.05);}
		15%{transform:scale(1);}
		25%{opacity:1;}
		100%{transform:translateY(-500%); opacity:0;}
	}
	@keyframes fct_crit{
		0%{transform:scale(0.5);}
		2%{transform:scale(1.5);}
		5%{transform:scale(0.9);}
		9%{transform:scale(1.1);}
		15%{transform:scale(1);}
		25%{opacity:1;}
		100%{transform:translateY(-500%); opacity:0;}
	}
	#fct > div.text:not(.hidden){
		font-size:3.5vmax;
		position: absolute;
		animation: fct 2s ease-in forwards;
		text-shadow:0.1vmax 0.1vmax 0.1vmax #000; 
	}
	#fct > div.text.crit:not(.hidden){
		font-size:5vmax;
		font-weight:bold;
		animation: fct_crit 2s ease-in forwards;
	}
	#fct > div.text.hp{ color:#F88; }
	#fct > div.text.mp{ color:#8AF; }
	#fct > div.text.ap{ color:#8F8; }
	#fct > div.text.armor{ color:#888; }
	#fct > div.text.arousal{ color:#F8F; }

/* HIDE IF NOT MOBILE */
#mainMenuToggle{
	display:none;
}

